<.header>
  New Bear
  <:subtitle>Use this form to manage bear records in your database.</:subtitle>
</.header>

<.bear_form changeset={@changeset} action={~p"/bears"} />

<.back navigate={~p"/bears"}>Back to bears</.back>
